
body{
  font-family: 'EB Garamond', serif;

}

 a{
   text-decoration: none;

 }

.container{
  display: flex;
  width: 95%;
  margin:auto;
  margin-top: 3%;

}

.one{
width: 25%;
}


.two{
width:75%;
margin-top:10%;
text-align: center;
}

.two img{
  width: 100%;
  margin-bottom:5%;
}

.three{
width:25%;
text-align: right;
}

.three a{
  color:black;
  margin-left: 1%;
  margin-right: 1%;
}

a{
  text-decoration: none;
  color:black;
}
