
body{
  font-family: 'EB Garamond', serif;

}

 a{
   text-decoration: none;


 }

 #link{
   color:salmon;
 }

 #link a:hover{
   color:black;

 }

.container{
  display: flex;
  width: 95%;
  margin:auto;
  margin-top: 3%;

}

.one{
width: 10%;
}


.two{
width:45%;
margin-top:10%;

}

.two img{
  width: 100%;
  margin-bottom:5%;
}

.two video{
  width:100%;
  margin-bottom: 5%;

}

.description{
  width:15%;
  margin-left: 5%;
  margin-top: 10%;

}

.three{
width:25%;
text-align: right;
}

.three a{
  color:black;
  margin-left: 1%;
  margin-right: 1%;
}

a{
  text-decoration: none;
  color:black;
}

#shadow{
  box-shadow: 5px 8px 8px 5px grey;
}
