
body{

background-color: #F4F3F1;
}

@font-face{
font-family: 'Attila Sans Semibold';
src: url(AttilaSansSharp-Semibold.otf);
}

@font-face{
font-family: 'Attila Sans Thin';
src: url(AttilaSansSharp-Thin.otf);
}

@font-face{
font-family: 'Attila Sans Black';
src: url(AttilaSansSharp-Black.otf);
}

@font-face{
font-family: 'Attila Sans Regular';
src: url(AttilaSansUniform-Regular.otf);
}

.name{
  text-align: center;
  width: 100%;
  font-family:'Attila Sans Thin';
  font-size: 18pt;
  margin-top: 2%;
  margin-bottom: 5%;
}

.container{
  width:90%;
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
}

.row{
  width: 25%;
}

.painting1{
  width:50%;
}

.painting2{
  width:20%;
}
