
body{

background-color: #FBF4F1;
}

@font-face{
font-family: 'Attila Sans Semibold';
src: url(AttilaSansSharp-Semibold.otf);
}

@font-face{
font-family: 'Attila Sans Thin';
src: url(AttilaSansSharp-Thin.otf);
}

@font-face{
font-family: 'Attila Sans Black';
src: url(AttilaSansSharp-Black.otf);
}

@font-face{
font-family: 'Attila Sans Regular';
src: url(AttilaSansUniform-Regular.otf);
}

.one {
  font-family:'Attila Sans Thin';
  font-size: 18pt;
}

.three{
  font-family:'Attila Sans Thin';
  font-size: 18pt;
}

.two{
  font-family:'Attila Sans Semibold';
  font-size: 65pt;
  line-height: 1.25;
  width:75%;
  margin-top:17%;
  margin-bottom: 2%;
  text-align: center;

}


.one a:hover{
  opacity: 50%;
  transition: 0.5s;
}

.three a:hover{
  opacity: 50%;
  transition: 0.5s;
}

.two a:hover{
  text-decoration: underline;
  color: tomato;
}


.two a:hover img{
display:flex;
position:absolute;
margin-left:56%;
z-index: -100;
}

.trademark{
  margin-top: 33%;
  font-family:'Attila Sans Thin';
  font-size: 8pt;
}

.container{
  display: flex;
  width: 95%;
  margin:auto;
  margin-top: 2%;

}

.one{
width: 25%;
}


.three{
width:25%;
text-align: right;
}

.three a{
  color:black;
  margin-left: 1%;
  margin-right: 1%;
}

a{
  text-decoration: none;
  color:black;
}
